.pp {

    padding-top: 5vmin;
}
.ppp {
    height: 70vmin;
    background-color: white;
    margin-left: 31vmin;
    border-radius: 9vmin;
}
.picWindow {
    background: url("../imgs/background.jpeg") center fixed;
    height: 40vh;
}