.main {
    height: 100vh;
    background-color: white;
}
.pp {
    height: 70vh;
    
    margin-block-start: 0vmin;
}
.picWindow {
    background: url("../imgs/background.jpeg") center fixed;
    height: 40vh;
}