.app {
  text-align: center;
}

.app-header {
  min-height: 9vmin;
  border-bottom: 2px solid black;
}
.logo {
  position: absolute;
  left: 3vmin;
  top: 2vmin;
  height: 5vmin;
}
.title {
  position: absolute;
  left: 11vmin;
  top: 1vmin;
  font-size: 5vmin;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-family: 'Brandon Grotesque';
  font-weight: 500;
  color: #ee7127;
  border-left: 1px solid black;
  padding-left: 3vmin;
}





@media (prefers-reduced-motion: no-preference) {

}



@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px)
  }
  100% {
    transform: translateY(0px)
  }
}
